nav.top.landing {
    margin-bottom: 4em;
}

.hidden {
  display: none;
}

div.navlinks a.btn {
    margin-left: 1em;
}

div.navlinks a.active {
    font-weight: bold;
}

@media (max-width: 768px) {
    div.navlinks a {
        margin-bottom: 1em;
    }
}

div.navlinks {
    margin-top: 1.75em;
    margin-right: 7.5em;
}

div.center {
  position: relative;
  top: 50%;
  transform: translateY(-50);
  display: block;
  margin: 0 auto;
  width: 854px;
}


#banner {
  padding-top: 60px;
}

#main-content {
  overflow: auto;
  padding-bottom: 60px;
  padding-top: 60px;
}

#project {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
}

#description {
  padding: 15px;
  text-align: center;
}
